
.cardStyle{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    height: 100%!important;
    width: 100%!important;
    flex-flow: column nowrap;
    margin: 0 !important;
    /* background-color: rebeccapurple; */
}

.logoLogin{
    width: 75px;
    height: 75px;
    margin-top: 30px;
}

.curvaBordaLoginUser{
    border-radius: 15px !important;
    border: 0px none #e2e2e1 !important;
}

.curvaBorda{
    border-radius: 15px !important;
    border: 0px none #e2e2e1 !important;
}

.colorLogin{
    background-color: #4F9368;
    width: 500px!important;
    height: 350px!important; 
}

.textDecorationNone{
    text-decoration: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao{
    background-color: #4F9368 !important;
    color: white !important;
    height: 56px;
    width: 116px;
    text-transform: capitalize !important;
}

.card{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; 
    padding: 25px;
    flex-direction: column;
}

.card2{
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: column !important;
    height: 300px;
    width: 400px; 
}

.cadastreSe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 17px !important;
}

.botao2Cadastro{
    color: #4F9368 !important;
    text-transform: none!important;
    font-size: 16px!important;
}

.botao:hover{
    background-color: #074118 !important;
}

.botao2:hover{
    color: #074118 !important;
}

.formTextLogin{
    background-color: white; 
}

.margin{
    margin: 15px;
}

@media only screen and (max-width: 530px) {

    .colorLogin{
        background-color: #4F9368;
        width: 430px!important;
        height: 350px!important; 
    }

    .formTextLogin{
        background-color: white;
        width: 250px!important; 
    }

    .card2{
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
        align-items: center!important;
        height: 300px;
        width: 400px; 
    }

}

@media only screen and (max-width: 450px) {

    .colorLogin{
        background-color: #4F9368;
        width: 330px!important;
        height: 350px!important; 
    }

}

@media only screen and (max-width: 368px) {

    .colorLogin{
        background-color: #4F9368;
        width: 300px!important;
        height: 350px!important; 
    }

}

@media only screen and (max-width: 323px) {

    .colorLogin{
        background-color: white!important;
        width: 100%;
        height: 350px!important; 
    }
}

@media only screen and (max-width: 314px) {

    .colorLogin{
        background-color: white!important;
        width: 100%!important;
        height: 350px!important; 
    }

    .curvaBordaLoginUser{
        border-radius: 1px !important;
        border: 0px none #e2e2e1 !important;
    }

    .botao2Cadastro{
        font-size: 12px!important;
    }

    .pTextLogin{
        font-size: 12px!important;
    }
}

@media only screen and (max-width: 266px) {
    .formTextLogin{
        background-color: white; 
        width: 200px!important;
    }
}